# CLOUDY molecular lines library

From the file `/media/phd/cloudy/line_labels_long.dat`

In [1]:
import numpy as np
import pandas as pd

In [2]:
# working directory and file
wd = '/media/phd/cloudy/database/'
fil1 = wd + 'line_labels_long.dat'

In [3]:
# import file
llab = pd.read_csv(fil1, sep='\t', header=0, comment='####', 
                   skiprows=lambda x: x in range(1,1262), skipfooter=1, engine='python')

In [18]:
# split one column into two
llab[['label', 'wavelength']] = llab['label'].str.split('   ', n=1, expand=True)

In [19]:
# separate wavelength and units
llab['units'] = llab['wavelength'].str[-1]
llab['wavelength'] = llab['wavelength'].str[:-1].astype(np.float64)

In [20]:
# move comment column to bottom
llab = llab[ [ col for col in llab.columns if col != 'comment' ] + ['comment'] ]

## Convert wavelengths to frequency

In [21]:
# new column
llab['GHz'] = np.nan

In [22]:
c_cms = 2.9971e10

# converting from microns to GHz
cond = (llab['units'] =='m')
llab.loc[cond, 'GHz'] = c_cms*1e-5 / llab.loc[cond, 'wavelength']

# converting from centimeters to GHz
cond = (llab['units'] =='c')
llab.loc[cond, 'GHz'] = c_cms*1e-9 / llab.loc[cond, 'wavelength']

# converting from Angstrom to GHz
cond = (llab['units'] =='A')
llab.loc[cond, 'GHz'] = c_cms*1e-1 / llab.loc[cond, 'wavelength']

# remove lines with empty units
llab = llab.drop(llab[llab['units'] == ' '].index)

# move comment column to bottom
llab = llab[ [ col for col in llab.columns if col != 'comment' ] + ['comment'] ]

In [23]:
# save csv
llab.to_csv(wd + 'line_labels_long.csv', index=False)

## Check line data by molecule name

In [4]:
# import csv
llab = pd.read_csv(wd + 'line_labels_long.csv')

In [5]:
# first 30 lines of CO
llab.set_index('label').loc['CO'].sort_values(by='GHz')[:30]

       #index  wavelength units          GHz         comment
label
CO      73401   2600.0500     m   115.270860    # LAMDA, 1 2
CO      73406   1300.0500     m   230.537287    # LAMDA, 2 3
CO      73411    866.7270     m   345.795158    # LAMDA, 3 4
CO      73416    650.0740     m   461.039820    # LAMDA, 4 5
CO      73421    520.0890     m   576.266754    # LAMDA, 5 6
CO      73426    433.4380     m   691.471445    # LAMDA, 6 7
CO      73431    371.5490     m   806.649998    # LAMDA, 7 8
CO      73436    325.1370     m   921.796043    # LAMDA, 8 9
CO      73441    289.0410     m  1036.911718   # LAMDA, 9 10
CO      73446    260.1690     m  1151.981981  # LAMDA, 10 11
CO      73451    236.5490     m  1267.010218  # LAMDA, 11 12
CO      73456    216.8680     m  1381.992733  # LAMDA, 12 13
CO      73461    200.2180     m  1496.918359  # LAMDA, 13 14
CO      73466    185.9490     m  1611.786027  # LAMDA, 14 15
CO      73471    173.5840     m  1726.599226  # LAMDA, 15 16
CO      73476    162.7670     m  1841.343761  # LAMDA, 16 17
CO      73481    153.2250     m  1956.012400  # LAMDA, 17 18
CO      73486    144.7450     m  2070.606929  # LAMDA, 18 19
CO      73491    137.1590     m  2185.128209  # LAMDA, 19 20
CO      73496    130.3330     m  2299.571099  # LAMDA, 20 21
CO      73501    124.1600     m  2413.901418  # LAMDA, 21 22
CO      73506    118.5480     m  2528.174242  # LAMDA, 22 23
CO      73511    113.4270     m  2642.316203  # LAMDA, 23 24
CO      73516    108.7330     m  2756.384906  # LAMDA, 24 25
CO      73521    104.4160     m  2870.345541  # LAMDA, 25 26
CO      73526    100.4330     m  2984.178507  # LAMDA, 26 27
CO      73531     96.7462     m  3097.899452  # LAMDA, 27 28
CO      73536     93.3237     m  3211.510045  # LAMDA, 28 29
CO      73541     90.1384     m  3324.998003  # LAMDA, 29 30
CO      73546     87.1666     m  3438.358270  # LAMDA, 30 31

In [9]:
# first 10 lines of HCN
llab.set_index('label').loc['CS'].sort_values(by='GHz')[:15]

       #index  wavelength units         GHz         comment
label
CS      80611    6117.530     m   48.991995    # LAMDA, 1 2
CS      80616    3058.860     m   97.980947    # LAMDA, 2 3
CS      80621    2039.300     m  146.967097    # LAMDA, 3 4
CS      80626    1529.500     m  195.952926    # LAMDA, 4 5
CS      80631    1223.630     m  244.935152    # LAMDA, 5 6
CS      80636    1019.720     m  293.914016    # LAMDA, 6 7
CS      80641     874.094     m  342.880743    # LAMDA, 7 8
CS      80646     764.867     m  391.845903    # LAMDA, 8 9
CS      80651     679.920     m  440.801859   # LAMDA, 9 10
CS      80656     611.963     m  489.751831  # LAMDA, 10 11
CS      80661     556.372     m  538.686347  # LAMDA, 11 12
CS      80666     510.044     m  587.615970  # LAMDA, 12 13
CS      80671     470.850     m  636.529680  # LAMDA, 13 14
CS      80676     437.255     m  685.435272  # LAMDA, 14 15
CS      80681     408.144     m  734.324160  # LAMDA, 15 16

In [7]:
# HNC (all lines)
llab.set_index('label').loc['O  3'].sort_values(by='GHz')#[:50]

       #index  wavelength units           GHz               comment
label
O  3   108921     88.3323     m  3.392983e+03          # Stout, 1 2
O  3   108931     51.8004     m  5.785863e+03          # Stout, 2 3
O  3   108926     32.6523     m  9.178833e+03          # Stout, 1 3
O  3   167687   5592.0000     A  5.359621e+05  # recombination line
O  3   108946   5006.8400     A  5.986011e+05          # Stout, 3 4
...       ...         ...   ...           ...                   ...
O  3   217931     23.3977     A  1.280938e+08    # inner shell line
O  3   217932     23.3977     A  1.280938e+08    # inner shell line
O  3   201814     23.0679     A  1.299251e+08        # OP satellite
O  3   201819     23.0416     A  1.300734e+08        # OP satellite
O  3   201824     22.9980     A  1.303200e+08        # OP satellite

[114 rows x 5 columns]

In [75]:
# HCO+ (all lines) and formatted for copying it to Cloudy script
this = llab.set_index('label').loc['HCO+'].sort_values(by='GHz')[['wavelength', 'units']]

# join wavelength and units in a single string
this['wavelength'] = this['wavelength'].astype(str) + this['units']

# wavelength has to start in the 4th column (or later)
this['wavelength'].to_csv(wd + 'HCO+sled.dat', header=False, sep=' ')

## Check line data by frequency [GHz]

In [56]:
# check for lines with frequency between nu_lo and nu_up (in GHz)
nu_lo, nu_up = 177., 180.
cond = (llab['GHz'] >= nu_lo) & (llab['GHz'] <= nu_up)
llab[cond].set_index('label').sort_values(by=['label', 'GHz'])

       #index  wavelength units         GHz         comment
label
CH3OH   69186     1691.01     m  177.286035    # LAMDA, 5 9
Coll    69188     1691.01     m  177.286035    # LAMDA, 5 9
Coll    73253     1690.82     m  177.305957    # LAMDA, 4 5
Coll    73263     1690.80     m  177.308054    # LAMDA, 3 5
Coll    73258     1690.78     m  177.310152    # LAMDA, 2 5
Coll    79468     1682.34     m  178.199685  # LAMDA, 29 31
Coll    76058     1680.21     m  178.425588    # LAMDA, 2 3
Coll    79068     1678.04     m  178.656324   # LAMDA, 7 10
Coll    77913     1674.30     m  179.055401  # LAMDA, 11 16
Coll    80423     1670.20     m  179.494946  # LAMDA, 16 20
Coll    79408     1668.58     m  179.669215  # LAMDA, 26 28
HCN     73251     1690.82     m  177.305957    # LAMDA, 4 5
HCN     73261     1690.80     m  177.308054    # LAMDA, 3 5
HCN     73256     1690.78     m  177.310152    # LAMDA, 2 5
HCO+    76056     1680.21     m  178.425588    # LAMDA, 2 3
Heat    69190     1691.01     m  177.286035    # LAMDA, 5 9
Heat    73255     1690.82     m  177.305957    # LAMDA, 4 5
Heat    73265     1690.80     m  177.308054    # LAMDA, 3 5
Heat    73260     1690.78     m  177.310152    # LAMDA, 2 5
Heat    79470     1682.34     m  178.199685  # LAMDA, 29 31
Heat    76060     1680.21     m  178.425588    # LAMDA, 2 3
Heat    79070     1678.04     m  178.656324   # LAMDA, 7 10
Heat    77915     1674.30     m  179.055401  # LAMDA, 11 16
Heat    80425     1670.20     m  179.494946  # LAMDA, 16 20
Heat    79410     1668.58     m  179.669215  # LAMDA, 26 28
Inwd    69187     1691.01     m  177.286035    # LAMDA, 5 9
Inwd    73252     1690.82     m  177.305957    # LAMDA, 4 5
Inwd    73262     1690.80     m  177.308054    # LAMDA, 3 5
Inwd    73257     1690.78     m  177.310152    # LAMDA, 2 5
Inwd    79467     1682.34     m  178.199685  # LAMDA, 29 31
Inwd    76057     1680.21     m  178.425588    # LAMDA, 2 3
Inwd    79067     1678.04     m  178.656324   # LAMDA, 7 10
Inwd    77912     1674.30     m  179.055401  # LAMDA, 11 16
Inwd    80422     1670.20     m  179.494946  # LAMDA, 16 20
Inwd    79407     1668.58     m  179.669215  # LAMDA, 26 28
Pump    69189     1691.01     m  177.286035    # LAMDA, 5 9
Pump    73254     1690.82     m  177.305957    # LAMDA, 4 5
Pump    73264     1690.80     m  177.308054    # LAMDA, 3 5
Pump    73259     1690.78     m  177.310152    # LAMDA, 2 5
Pump    79469     1682.34     m  178.199685  # LAMDA, 29 31
Pump    76059     1680.21     m  178.425588    # LAMDA, 2 3
Pump    79069     1678.04     m  178.656324   # LAMDA, 7 10
Pump    77914     1674.30     m  179.055401  # LAMDA, 11 16
Pump    80424     1670.20     m  179.494946  # LAMDA, 16 20
Pump    79409     1668.58     m  179.669215  # LAMDA, 26 28
SO      79466     1682.34     m  178.199685  # LAMDA, 29 31
SO      79066     1678.04     m  178.656324   # LAMDA, 7 10
SO      79406     1668.58     m  179.669215  # LAMDA, 26 28
SO2     77911     1674.30     m  179.055401  # LAMDA, 11 16
SiC2    80421     1670.20     m  179.494946  # LAMDA, 16 20

## Save my molecular lines library

In [22]:
mols = ['CO', 'HCN', 'HNC', 'HCO+']
this = llab.set_index('label').loc[mols].sort_values(by=['label', 'GHz'])[['wavelength', 'units', 'comment']]
this['wavelength'] = this['wavelength'].astype(str) + this['units']
npis = this[['wavelength','comment']].reset_index().to_numpy()
np.savetxt(wd + 'mymoleculines.dat', npis, delimiter='   ', fmt=['%2s', '%5s', '%5s'])
#this['wavelength'].to_csv(wd + 'mymoleculines.dat', header=False, sep=' ')

In [115]:
135-12

123

In [114]:
llab.set_index('label').loc['H2'].sort_values(by='GHz', ascending=False)[2900:2950]

       #index  wavelength units            GHz          comment
label
H2     232748     1.58352     m  189320.285187  # diatoms lines
H2     245603     1.58377     m  189290.400753  # diatoms lines
H2     242718     1.58410     m  189250.967742  # diatoms lines
H2     249298     1.58748     m  188848.022022  # diatoms lines
H2     234848     1.58786     m  188802.827705  # diatoms lines
H2     235063     1.59026     m  188517.888899  # diatoms lines
H2     243778     1.59107     m  188421.916069  # diatoms lines
H2     240703     1.59487     m  187972.974600  # diatoms lines
H2     244893     1.59506     m  187950.583677  # diatoms lines
H2     250488     1.59650     m  187781.057313  # diatoms lines
H2     252193     1.59681     m  187744.602050  # diatoms lines
H2     251993     1.59785     m  187622.403855  # diatoms lines
H2     251093     1.59998     m  187372.628408  # diatoms lines
H2     245993     1.60055     m  187305.899847  # diatoms lines
H2     245898     1.60096     m  187257.931491  # diatoms lines
H2     232818     1.60110     m  187241.557679  # diatoms lines
H2     246688     1.60172     m  187169.079490  # diatoms lines
H2     238183     1.60319     m  186997.460064  # diatoms lines
H2     233638     1.60603     m  186666.785801  # diatoms lines
H2     232903     1.60695     m  186559.916612  # diatoms lines
H2     242833     1.60702     m  186551.790270  # diatoms lines
H2     233198     1.60796     m  186442.733650  # diatoms lines
H2     230078     1.61000     m  186206.495652  # diatoms lines
H2     243328     1.61066     m  186130.193834  # diatoms lines
H2     233508     1.61181     m  185997.392993  # diatoms lines
H2     231673     1.61309     m  185849.802553  # diatoms lines
H2     249038     1.61437     m  185702.446155  # diatoms lines
H2     234033     1.61524     m  185602.423169  # diatoms lines
H2     233063     1.61577     m  185541.542422  # diatoms lines
H2     244198     1.61641     m  185468.079262  # diatoms lines
H2     247013     1.61776     m  185313.308525  # diatoms lines
H2     234578     1.62009     m  185046.792462  # diatoms lines
H2     230993     1.62185     m  184845.983291  # diatoms lines
H2     250318     1.62453     m  184541.041409  # diatoms lines
H2     243613     1.62484     m  184505.833190  # diatoms lines
H2     251388     1.62488     m  184501.291172  # diatoms lines
H2     247623     1.62554     m  184426.380157  # diatoms lines
H2     249303     1.62751     m  184203.143452  # diatoms lines
H2     233293     1.62764     m  184188.431103  # diatoms lines
H2     231288     1.62938     m  183991.737962  # diatoms lines
H2     247438     1.62941     m  183988.350384  # diatoms lines
H2     248483     1.63060     m  183854.077027  # diatoms lines
H2     231528     1.63092     m  183818.003336  # diatoms lines
H2     230933     1.63200     m  183696.359069  # diatoms lines
H2     249478     1.63267     m  183620.975457  # diatoms lines
H2     233588     1.63573     m  183277.471221  # diatoms lines
H2     232083     1.63619     m  183225.944420  # diatoms lines
H2     248488     1.63702     m  183133.045412  # diatoms lines
H2     230613     1.63877     m  182937.482380  # diatoms lines
H2     239688     1.64231     m  182543.160548  # diatoms lines

In [6]:
list(set(llab[llab.set_index('label').index.str.contains('O')].label))

['SO2',
 'O 2P',
 'O  6',
 'O  8',
 'O  5',
 'TOTL',
 'O 2R',
 'O 4H',
 'OH',
 'SO',
 'O 5R',
 'O  4',
 'O 3R',
 'O 3A',
 'H3O+',
 'O  3',
 'OCS',
 'H2O',
 'O 4R',
 'O  7',
 'O  1',
 'HCO+',
 'O2',
 'LOST',
 'O  2',
 'H2CO',
 'OH+',
 'O 2H',
 'O 3C',
 'CO',
 'NO',
 'SiO',
 '^13CO',
 'CH3OH',
 'O 3H']